@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-family: 'Raleway';
    color: #FFFFFF;
}

html h1{
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

body {
    background-color: black;
    width: 100%;
    margin:0%;
}

header {
    height: 605px;
    border-bottom: 1px solid #33A8DB;
    background-image: url('../images/banner.png'), linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(3, 158, 224, 0.08) 100%);
    background-size: contain;     
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; 
}

.logo{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo img {
    width: 100%;
    height: 100%; 
} 

header button{
    width: 326px;
    height: 57px;
    background-color: transparent;
    border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    border-image-slice: 10;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.21em;
    color: #31A8DD;
}

.banner-content p {
    width: 550px;
    font-size: 20px;
    line-height: 23px;
    text-align: center; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    padding: 5rem 0;
}

#course-content h2 {
    font-size: 32px;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: #33A8DB;
}

#course-content p {
    text-align: center;
}

.module {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 535px;
    height: 51px;
    background: #252525;
    border: 1px solid #33A8DB;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
    border-radius: 57px;
}

.module span {
    color: #33A8DB;
}

#transform-world {
    width: 100%;
    height: 363px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #33A8DB;
    background-image: url('../images/woman-code.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;      
}

#transform-world p {
    position: relative;
    width: 244px;
    height: 141px;
    left: 50px;
    top: 130px;
    margin: 0%;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    text-transform: lowercase;
    text-align: left; 
    text-shadow: 3px 2px 0px #33A8DB;
}

#professional-challenges p {
    position: absolute;
    width: 792px;
    height: 76px;
    left: 324px;
    top: 2154px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    

    color: #FFFFFF;
}

#professional-challenges img{
    position: absolute;
    width: 659px;
    height: 429px;
    left: 390px;
    top: 1685px;
   
}

#professional-challenges h2{
    
    position: absolute;
    width: 800px;
    height: 76px;
    left: 347px;
    top: 1577px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    margin: 0%;

    color: #33A8DB;

}

footer {
    box-sizing: border-box;
    position: absolute;
    width: 1440px;
    height: 170px;
    left: 0px;
    top: 2321px;
    background-image: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
    border-top: 1px solid #33A8DB;
}

.dio-logo {
    position: absolute;
    width: 310px;
    height: 44px;
    left: 565px;
    top: 59px;
}

footer p{
    position: absolute;
    width: 259px;
    height: 19px;
    left: 591px;
    top: 113px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}